.footer {
  background: var(--color-black);
  width: 100%;
}

.footer .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-info {
  color: var(--color-medium-grey);
}

@media screen and (width <= 768px) {
  .footer .container {
    flex-direction: column;
  }

  .footer-info {
    margin-top: 24px;
  }
}
