header {
  background: var(--color-black);
  position: fixed;
  width: 100%;
}

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-logo {
  color: var(--color-light);
  text-decoration: none;
  transition: 0.3s ease;
}

header .header-logo:hover {
  color: var(--color-yellow);
}

header .header-menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

header .header-link {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-light);
  transition: 0.3s ease;
}

header .header-link:hover {
  color: var(--color-yellow);
}
