.header {
  background: var(--color-black);
  position: fixed;
  width: 100%;
}

.header .container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.header-logo {
  color: var(--color-light);
  text-decoration: none;
  transition: 0.3s ease;
}

.header-logo:hover {
  color: var(--color-yellow);
}

.header-menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.header-link {
  color: var(--color-light);
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-link:hover {
  color: var(--color-yellow);
}
