.header {
  background: var(--color-black);
  position: fixed;
  width: 100%;
}

.header .container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.header-link {
  color: var(--color-light);
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-link:hover {
  color: var(--color-yellow);
}

@media screen and (width <= 768px) {
  .header .container {
    flex-direction: column;
    height: auto;
    padding: 12px 40px;
  }

  .header .container h1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-menu {
    display: none;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
