.hero {
  align-items: center;
  background-size: cover;
  background: url("../../images/hero-bg.jpg") no-repeat center;
  display: flex;
  height: 100vh;
}

.hero-title {
  color: var(--color-light);
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.hero-info {
  width: 804px;
}

.hero-display {
  color: var(--color-light);
  margin-bottom: 24px;
}

.hero-autor {
  color: var(--color-light);
  margin-bottom: 16px;
}

.hero-autor--mark {
  color: var(--color-yellow);
}

.hero-description {
  color: var(--color-light);
  margin-bottom: 48px;
}
