@import url("reset.css");
@import url("variables.css");
@import url("animations.css");
@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/blog.css");
@import url("./components/footer.css");

@font-face {
  font-family: Sen;
  src: url("../fonts/sen.ttf");
}

body {
  color: var(--color-black);
  font-family: Sen;
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 12px 80px;
  width: 100%;
}

.logo {
  color: var(--color-light);
  text-decoration: none;
  transition: 0.3s ease;
}

.logo:hover {
  color: var(--color-yellow);
}

/* Global components */
.btn {
  border: none;
  color: var(--color-black);
  cursor: pointer;
  font-family: Sen;
  font-size: 18px;
  font-weight: bold;
  height: 56px;
  padding: 16px 48px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-primary {
  background: var(--color-yellow);
}

.btn-primary:hover {
  background: var(--color-yellow-hover);
}

.btn-secondary {
  background: var(--color-light);
}

.btn-secondary:hover {
  background: var(--color-light-grey);
}

.display {
  font-size: 56px;
  letter-spacing: -2px;
  line-height: 64px;
}

.body-1 {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
}

.animate-1:hover {
  animation: animate-1 0.5s ease;
}

.animate-2:hover {
  animation: animate-2 0.5s ease;
}

.animate-3:hover {
  animation: animate-3 0.5s ease;
}

.menu-toggle {
  display: none;
  flex-direction: column;
}

.menu-toggle span {
  background: white;
  border-radius: 4px;
  height: 3px;
  margin: 3px 0;
  width: 25px;
}

@media screen and (width <= 1024px) {
  .container {
    padding: 12px 40px;
  }
}

@media screen and (width <= 768px) {
  .menu-toggle {
    display: flex;
  }
}
