@import url("reset.css");
@import url("variables.css");
@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/blog.css");
@import url("./components/footer.css");

@font-face {
  font-family: Sen;
  src: url("../fonts/sen.ttf");
}

body {
  color: var(--color-black);
  font-family: Sen;
}

.container {
  margin: 0 auto;
  padding: 12px 80px;
  width: var(--max-width);
}

.logo {
  color: var(--color-light);
  text-decoration: none;
  transition: 0.3s ease;
}

.logo:hover {
  color: var(--color-yellow);
}

/* Global components */
.btn {
  border: none;
  color: var(--color-black);
  cursor: pointer;
  font-family: Sen;
  font-size: 18px;
  font-weight: bold;
  height: 56px;
  padding: 16px 48px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-primary {
  background: var(--color-yellow);
}

.btn-primary:hover {
  background: var(--color-yellow-hover);
}

.btn-secondary {
  background: var(--color-light);
}

.btn-secondary:hover {
  background: var(--color-light-grey);
}

.display {
  font-size: 56px;
  letter-spacing: -2px;
  line-height: 64px;
}

.body-1 {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
}
