:root {
  --color-black: #232536;
  --color-yellow: #ffd050;
  --color-yellow-hover: #edc14a;
  --color-purple: #592ea9;
  --color-dar-grey: #4c4c4c;
  --color-medium-grey: #6d6e76;
  --color-light: #ffffff;
  --color-light-grey: #f4f4f4;
  --color-lavander: #f4f0f8;
  --color-light-yellow: #fbf6ea;
  --max-width: 1440px;
}
